// =====================================================
// Reusable component
// ====================================================
// Primary color : #e42329
$color-primary: #e42329;
$color-gray-dark-1: #4a4a4a;
$color-gray-light-1: #757575;
$color-gray-light-2: #9f9f9f;

$text-size: 1rem; //20
$heading-size: 2.5rem; //45
$subheading-size: 1.2rem; //22;
$small-size: 0.85rem; //18
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: $text-size;
}
p {
  font-size: $text-size;
  font-weight: 300;
  color: $color-gray-light-2;
}
.about {
  &__video {
    &-link {
      position: relative;
    }
    &-icon {
      position: absolute;
      height: 5rem;
      width: 5rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.heading-main {
  font-size: 2.2rem;
  color: darken($color-gray-dark-1, 1);
  font-family: "Roboto Slab", serif;
}
// #form-vanilla {
//   .form-control {
//     border-top-right-radius: 0;
//     border-bottom-right-radius: 0;
//     &:focus {
//       outline: 0;
//     }
//   }
//   .btn.btn-primary {
//     border-top-left-radius: 0;
//     border-bottom-left-radius: 0;
//   }
// }
.donwload-form {
  padding-left: 6px;
  padding-right: 0;
  .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #eee;
    font-size: $subheading-size;
    font-weight: 400;
    &:focus {
      outline: 0;
    }
  }
  .btn.btn-primary {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: $subheading-size;
    font-weight: 500;
  }
}
.check-success {
  background-color: #fff;
  color: #5fcf9f;
  border-radius: 50%;
}
.text-size {
  font-size: $text-size !important;
}
.text-gray-dark {
  color: darken($color-gray-dark-1, 1);
}
.text-gray-light {
  color: $color-gray-light-1;
}
.text-gray-light-2 {
  color: $color-gray-light-2;
}
.w-65 {
  width: 65% !important;
}
.w-35 {
  width: 35% !important;
}
.w-30 {
  width: 30% !important;
}
.sidebar-title {
  border-bottom: 3px solid #eee;
  &::after {
    content: "";
    height: 3px;
    width: 4rem;
    background-color: $color-primary;
    display: block;
    margin-top: 0.75rem;
  }
}
.iti__flag {
  background-image: url("../assets/flags.png");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("../assets/flags.png");
  }
}
// =====================================================
// Section Navbar
// ====================================================
#mainNavbar {
  .navbar-nav .nav-link {
    text-transform: uppercase;
    color: $color-gray-dark-1;
    font-size: 0.9rem;
    transition: all 0.4s;
    &:hover {
      color: $color-primary;
    }
  }
  .navbar-brand img {
    width: 9rem;
  }
}
.section-slides {
  width: 100%;
  height: 95vh;
  .mySlides {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    &:first-of-type {
      background-image: url(../assets/Blog/Image3.jpg);
    }
    &:nth-child(2) {
      background-image: url(../assets/Blog/Image4.jpg);
    }
    &:nth-child(3) {
      background-image: url(../assets/home/pexels-mikhail-nilov-6613649.jpg);
    }
    &:last-of-type {
      background-image: url(../assets/home/pexels-pavel-danilyuk-.jpg);
    }
    .container {
      height: 100%;
    }
  }
  .slide-content {
    height: 80%;
    padding-top: 10%;
    .col-md-2,
    .slide-text {
      padding-left: 0;
      padding-right: 0;
      margin-right: 5px;
      margin-left: 5px;
      height: 100%;
    }
    .col-md-2 {
      padding-left: 10px;
    }
    .slide-text {
      background-color: rgba(#fff, 0.9);
      border-top-right-radius: 0.45rem;
      border-bottom-right-radius: 0.45rem;
      .heading-main {
        font-size: 1.5rem;
      }
      p {
        margin-bottom: 0.5rem;
        img {
          height: 1rem;
          width: 1rem;
          margin-right: 0.5rem;
        }
      }
      a.d-block {
        text-decoration: underline;
      }
    }
  }
  .slide-control-link {
    display: block;
    height: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(#fff, 0.9);
    &:hover {
      text-decoration: none;
    }
    &:not(:last-of-type) {
      margin-bottom: 1%;
    }
    &.active {
      background-color: $color-primary;
      .slide-red-link {
        display: none;
      }
      .slide-white-link {
        display: block;
      }
      span {
        color: white;
      }
    }
    .slide-red-link,
    .slide-white-link {
      height: 1.5rem;
      width: 1.5rem;
      margin-bottom: 0.5rem;
    }
    .slide-red-link {
      display: block;
    }
    .slide-white-link {
      display: none;
    }
    span {
      font-size: $text-size;
    }
    &:first-of-type {
      border-top-left-radius: 0.45rem;
    }
    &:last-of-type {
      border-bottom-left-radius: 0.45rem;
    }
  }
}
// .section-slides,
// .caroursel,
// .carousel-inner,
// .carousel-item,
// .carousel-item img {
//   height: 85vh;
// }
// .section-slides {
//   .carousel-inner,
//   .carousel-item {
//     position: static;
//   }
// }
// .carousel-indicators {
//   flex-direction: column;
//   justify-content: flex-start;
//   height: 70%;
//   width: 100px;
//   top: 14.8%;
//   left: -3%;
// }
// .carousel-indicators li {
//   height: 24%;
//   width: 100%;
//   text-indent: 0;
//   text-align: center;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-size: $small-size;
//   background-color: rgba($color: #fff, $alpha: 0.9);
//   cursor: pointer;
//   &.active {
//     background-color: $color-primary;
//     color: #fff;
//     .carousel-icon-red {
//       display: none;
//     }
//     .carousel-icon-white {
//       display: block;
//     }
//   }
//   &:not(:last-of-type) {
//     margin-bottom: 7px;
//   }
//   &:first-of-type {
//     border-top-left-radius: 0.45rem;
//   }
//   &:last-of-type {
//     border-bottom-left-radius: 0.45rem;
//   }
//   .carousel-icon-white,
//   .carousel-icon-red {
//     height: 1.5rem;
//     width: 1.5rem;
//     margin: 0 auto;
//     margin-bottom: 0.5rem;
//   }
//   .carousel-icon-red {
//     display: block;
//   }
//   .carousel-icon-white {
//     display: none;
//   }

//   // width: 3rem;
// }
// .carousel-indicators li i {
//   display: block;
// }
// .carousel-caption {
//   background-color: rgba($color: #fff, $alpha: 0.9);
//   width: 45%;
//   top: 50%;
//   left: 20%;
//   bottom: none;
//   transform: translateY(-50%);
//   height: 70%;
//   border-top-right-radius: 0.45rem;
//   border-bottom-right-radius: 0.45rem;
//   .heading-main {
//     font-size: 1.8rem;
//   }
//   p {
//     margin-bottom: 0.5rem;
//     img {
//       height: 1.1rem;
//       width: 1.1rem;
//     }
//   }
// }
// .carousel-item img {
//   height: 100% !important;
//   width: 100%;
//   object-fit: cover;
// }
// .carousel-text {
//   font-size: $text-size;
// }
// .carousel-btn {
//   font-size: $subheading-size;
// }
// .carousel-learn-link {
//   text-decoration: underline;
// }

// =====================================================
// Section download app
// ====================================================
.section-download-app {
  img {
    height: 3.05rem;
  }
  .download-area {
    .col-sm-4,
    .col-4 {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .download-text {
    color: $color-gray-dark-1;
    font-weight: 700;
    font-size: 1.01rem;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
// =====================================================
// Section about
// ====================================================

// =====================================================
// Section download app
// ====================================================
.work-lists {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: $text-size;
  color: $color-gray-light-1;
  i {
    background-color: greenyellow;
    color: #fff;
    border-radius: 50%;
  }
}
.work-tab-link {
  background-color: #f1f1f1;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $small-size;

  &.active {
    background-color: $color-primary;
    .work-link-white {
      display: inline-block;
    }
    .work-link-red {
      display: none;
    }
  }
  .work-link-white,
  .work-link-red {
    width: 1.1rem;
    height: 1.1rem;
  }
  .work-link-white {
    display: none;
  }
  .work-link-red {
    display: inline-block;
  }
}
.works-subheading {
  font-size: 1.3rem;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  color: $color-gray-dark-1;
}
// =====================================================
// Section testimonial
// ====================================================
.section-testimonial {
  background-image: url(../assets/bg-map.jpg);
  background-position: center;
  background-size: cover;
  .testimonial__ratings {
    color: yellow;
  }

  h5 {
    color: $color-primary;
    position: relative;
    font-size: $subheading-size;
    &::before {
      content: "";
      height: 3px;
      width: 10px;
      background-color: $color-primary;
      position: absolute;
      top: 50%;
      left: -20px;
    }
  }
  p {
    font-size: 0.75rem;
  }
}
// =====================================================
// quick links
// ====================================================
.quick-links a {
  color: #333;
}
// =====================================================
// Footer
// ====================================================

// =====================================================
// =====================================================
// =====================================================
// Tracking page
// =====================================================
// =====================================================
// ====================================================
.jumbotron-tracking,
.jumbotron-about,
.jumbotron-blog,
.jumbotron-faq {
  background-image: linear-gradient(to bottom, rgba(#000, 0.4), rgba(#000, 0.4)),
    url(../assets/Tracking/pexels-mart-production-7706531.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 2rem !important;
}
.section-track-input .form-control,
.section-track-input .btn.btn-primary[type="submit"] {
  font-size: $subheading-size;
}
.tracking-list-title,
.tracking-list-title-name {
  color: $color-gray-dark-1;
  font-family: "Roboto Slab", serif;
}
.tracking-list-title {
  font-size: 1.2rem;
}

.tracking-list-title-name {
  font-size: 1.4rem;
  img {
    display: inline-block;
    height: 3rem;
    width: 3rem;
  }
}
.section-tracking-download,
.section-track-input {
  .form-inline .form-control {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    background-color: #eee;
  }
  .btn.btn-primary {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}
.mygrid > [class*="col-"]:before {
  content: "";
  position: absolute;
  background: #eee;
  display: block;
  top: 0;
  right: 15px;
  bottom: 0;
  left: 15px;
  z-index: -1;
  border-radius: 5px;
}
.mygrid-success > [class*="col-"]:before {
  background: #5fcf9f;
}
.mygrid > [class*="col-"] {
  padding: 15px 30px;
  margin-bottom: 10px;
}
// =====================================================
// =====================================================
// =====================================================
// About us page
// =====================================================
// =====================================================
// ====================================================
.jumbotron-tracking,
.jumbotron-about,
.jumbotron-service {
  background-image: linear-gradient(to bottom, rgba(#000, 0.4), rgba(#000, 0.4)),
    url(../assets/About/188433492_2687463748212994_4345649974138857625_n.jpg);
}
.section-about-desc p {
  font-size: 1rem;
  color: $color-gray-light-1;
  font-family: "Roboto", sans-serif;
}
.section-ceo-message {
  background-image: url(../assets/About/bg-map.jpg);
  background-size: cover;
  background-position: center;
  .ceo-message-quote-img {
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .ceo-img {
    height: 40vw;
    width: 100% !important;
    object-fit: cover;
  }
  .col-md-6:first-of-type {
    height: 100%;
  }
}
// =====================================================
// =====================================================
// =====================================================
// Service page
// =====================================================
// =====================================================
// ====================================================
.jumbotron-service {
  background-image: linear-gradient(to bottom, rgba(#000, 0.4), rgba(#000, 0.4)),
    url(../assets/Services/pexels-liza-summer-6347560.jpg);
}
.tab-horizontal {
  .nav-item {
    width: 24%;
    background-color: #ddd;
    border-radius: 0.35rem;
    text-align: center;
    &.active {
      background-color: $color-primary;
    }
    &:not(:last-of-type) {
      margin-right: 1%;
    }
  }

  .nav-link {
    position: relative;
    &.active {
      &::after {
        content: "";
        position: absolute;
        bottom: -50%;
        left: 50%;
        transform: translateX(-50%);
        border-color: $color-primary transparent transparent transparent;
        border-style: solid;
        border-width: 15px 15px 15px 15px;
        height: 0px;
        width: 0px;
      }
      .tab-icon-red {
        display: none;
      }
      .tab-icon-white {
        display: inline-block;
      }
    }
    .tab-icon-red,
    .tab-icon-white {
      height: 1rem;
      width: 1rem;
    }
    .tab-icon-red {
      display: inline-block;
    }
    .tab-icon-white {
      display: none;
    }
  }
}
// =====================================================
// FAQ page
// =====================================================
.jumbotron-faq {
  background-image: linear-gradient(to bottom, rgba(#000, 0.4), rgba(#000, 0.4)),
    url(../assets/FAQ/pexels-mart-production-7706586.jpg);
}
#accordion,
#accordion2,
#accordion3,
#accordion4 {
  .card {
    border: none;
  }
}

.faq-collapse {
  border-left: 3px solid $color-primary;
  &.card-body {
    padding: 0rem 1.25rem;
  }
}
.faq-link {
  color: $color-gray-dark-1;
  font-size: $text-size;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $color-primary;
  }
  &:focus {
    text-decoration: none;
  }
}
// =====================================================
// Blog page
// =====================================================
.jumbotron-blog {
  background-image: linear-gradient(to bottom, rgba(#000, 0.4), rgba(#000, 0.4)),
    url(../assets/Blog/Image3.jpg);
}
.section-instagram-gallery .row > .col-4 {
  padding: 5px;
}
.instagram-gallery-more {
  opacity: 0.8;
  position: relative;
  div {
    position: absolute;
    height: 100%;
    width: 100%;

    font-size: 4rem;
    z-index: 2;
  }
}
// =====================================================
// Single page
// =====================================================
.jumbotron-blog {
  background-image: linear-gradient(to bottom, rgba(#000, 0.4), rgba(#000, 0.4)),
    url(../assets/Blog/Image2.jpg);
}
.single-main-img {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}
.single-inner-img img {
  height: 200px;
  object-fit: cover;
}
.single-content {
  width: 97%;
  margin: 0 auto;
}
.share-posts {
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  a {
    border-radius: 50%;
    height: 1.7rem;
    width: 1.7rem;
    display: inline-block;
    &.bg-gray {
      background-color: $color-gray-dark-1;
    }
  }
}
// =====================================================
// =====================================================
// =====================================================
// Breakpoint
// ====================================================
// ====================================================
// ====================================================
@media (max-width: 992px) {
  #mainNavbar {
    .navbar-nav {
      margin-left: 0%;
    }
  }
}
// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .section-slides {
    .mySlides {
      .slide-controls {
        flex-direction: row !important;
        height: 75px !important;
        margin-bottom: 0.4rem;
      }
      .col-md-2 {
        height: auto;
        padding-left: 0;
        padding-right: 0;
      }
      .slide-text {
        border-bottom-left-radius: 0.45rem;
        border-bottom-right-radius: 0.45rem;
        border-top-right-radius: 0;
        .heading-main {
          font-size: 1.3rem;
        }
      }
      .slide-control-link {
        width: 99%;
        height: 100%;
        &:not(:last-of-type) {
          margin-right: 1%;
        }
        &:last-of-type {
          border-bottom-left-radius: 0;
          border-top-right-radius: 0.45rem;
        }
      }
    }
    .slide-content {
      height: 73%;
      padding-top: 35%;
    }
  }
  .section-ceo-message {
    .ceo-img {
      height: 55vw;
    }
  }
  .tab-horizontal {
    .nav-item {
      width: 49%;
    }
    .nav-link {
      &::after {
        display: none;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .section-track-input {
    .form-control {
      width: 75% !important;
    }
  }
  .tracking-list-title-name {
    font-size: 1.15rem;
  }
  // .donwload-form .btn.btn-primary {
  //   font-size: 1rem;
  // }
  .quick-links {
    font-size: 0.9rem;
  }
  .section-tracking-download {
    ::-webkit-input-placeholder {
      color: transparent;
    }

    :-moz-placeholder {
      /* Firefox 18- */
      color: transparent;
    }

    ::-moz-placeholder {
      /* Firefox 19+ */
      color: transparent;
    }

    :-ms-input-placeholder {
      color: transparent;
    }
  }
  .section-download-app {
    .donwload-form {
      .form-inline {
        width: 99%;
        .btn.btn-primary {
          padding-left: 0.35rem;
          padding-right: 0.35rem;
        }
      }
    }
  }
  .section-slides {
    .slide-content {
      height: 60%;
      padding-top: 20%;
    }
    .slide-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .heading-main {
        font-size: 1.3rem;
      }
      .btn.btn-primary.btn-slide-sm {
        font-size: 0.85rem;
      }
    }
  }
}
@media (max-width: 575px) {
  .section-works .nav {
    flex-direction: row !important;
    width: 100%;
    a {
      width: 24%;
      &:not(:last-of-type) {
        margin-right: 1%;
      }
    }
  }
}

// Large devices (desktops, 992px and up)

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
// media query for slider
@media (max-width: 1400px) {
}
@media (max-width: 1300px) {
  .carousel-indicators {
    left: -8%;
  }
}
@media (max-width: 1200px) {
  .carousel-indicators {
    left: -4%;
  }
  .carousel-caption {
    left: 21%;
    width: 50%;
  }
}
@media (max-width: 1100px) {
  .carousel-indicators {
    left: -8%;
  }
  .carousel-caption {
    left: 21%;
    width: 50%;
  }
}
@media (max-width: 1070px) {
  .carousel-caption {
    left: 22%;
    width: 60%;
  }
}
@media (max-width: 992px) {
  .section-slides,
  .caroursel,
  .carousel-inner,
  .carousel-item,
  .carousel-item img {
    height: 100vh;
  }
  .carousel-indicators {
    flex-direction: row;
    width: 45%;
    left: -2%;
    li {
      &:last-of-type {
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.45rem;
      }
    }
  }
  .carousel-caption {
    display: none;
    left: 23%;
  }
}
@media (max-width: 890px) {
  .carousel-caption {
    left: 24%;
    width: 75%;
  }
}
@media (max-width: 810px) {
  .carousel-indicators {
    // flex-direction: row;
    // height: 100px;
    // width: 80%;
    // li {
    //   width: 24%;
    //   margin-right: 7px;
    //   align-items: stretch;
    // }
    left: -4%;
  }
  .carousel-caption {
    left: 10%;
    width: 85%;
    border-top-left-radius: 0.45rem;
    border-bottom-left-radius: 0.45rem;
    .heading-main {
      font-size: 1.9rem;
    }
  }
}
@media (max-width: 700px) {
}
@media (max-width: 600px) {
}
@media (max-width: 500px) {
  .carousel-caption {
    width: 95%;
    left: 2.5%;
  }
}
